/*Переменные*/

    /*Шрифты*/
    $font-family-main: "Roboto", "Arial", serif;
    $font-family-title: "Jost", "Arial", serif;
    $font-weight-main: 400;
    $font-weight-title: 500;
    $font-style-medium: "Medium";
    $font-style-regular: "Regular";
    $font-letter-spacing-primary: -0.011em;
    $font-letter-spacing-secondary: 0.02em;


    /*l - размер заголовков h1*/
    $font-size-h1: 32px;
    $font-line-height-h1: 40px;
    $font-h1: $font-style-medium $font-size-h1/$font-line-height-h1 $font-weight-title $font-family-title $font-letter-spacing-primary;


    /*m - размер заголовков h2*/
    $font-size-h2: 24px;
    $font-line-height-h2: 32px;
    $font-letter-spacing-h2: -1.1%;
    $font-h2: $font-style-medium $font-size-h2/$font-line-height-h2 $font-weight-title $font-family-title $font-letter-spacing-primary;

       /*m - размер заголовков h3*/
    $font-size-h3: 20px;
    $font-line-height-h3: 24px;
    $font-letter-spacing-h3: -1.1%;
    $font-h3: $font-style-medium $font-size-h3/$font-line-height-h3 $font-weight-title $font-family-title $font-letter-spacing-primary;

    
    /*m - размер заголовков h4*/
    $font-size-h4: 16px;
    $font-line-height-h4: 24px;
    $font-letter-spacing-h4: 2%;
    $font-h4: $font-style-medium $font-size-h4/$font-line-height-h4 $font-weight-title $font-family-main $font-letter-spacing-secondary;
 
    /*s - размер Body основного теста*/
    $font-size-body: 16px;
    $font-line-height-body: 24px;
    $font-body-letter-spacing: 2%;
    $font-body: $font-style-regular $font-size-body/$font-line-height-body $font-weight-main $font-family-main $font-letter-spacing-secondary;
   

    /*s - размер Caption текста кнопок, подзаголовков*/
    $font-size-caption: 12px;
    $font-line-height-caption: 16px;
    $font-caption: $font-style-regular $font-size-caption/$font-line-height-caption $font-weight-main $font-family-main $font-letter-spacing-secondary;

   
    /*color*/

    $font-color-primary: #253017;
    /*Text - цвет основного текста*/
    $font-color-secondary: #69735D;
    /* Caption - цвет подзаголовков*/
    $toggle-color: #ABD27A;
    /*Toggle - цвет переключателя*/
    $font-color-disabled: #FFFFFF;
    /*Disabled Text */
    $disabled-color: #E4E8DF;
    /*Disabled*/
    $card-color: #FFFFFF;
    /*Card, input - цвет фона карточек и кнопок*/
    $input-color: $card-color;
    /*Card, input - цвет фона карточек и кнопок*/

    $button-color-pressed: #508826;
    /*Button pressed*/
    $accent-color: #ABD27A;
    /*Accent color - задан акцент*/
    $button-hover-color: $accent-color;
    /*Button hover*/
    $bg-color: #F9FAF7;
    /*Background colorа*/
    $font-color-alarm: #E0796E;
    /*alarm*/
    $font-color-error: #BF3920;
    /*Error*/
    $text-link-color: $button-color-pressed;
    /*Text link, Button pressed*/

    $tag-business-color: #EEE7F7;
    /*Tag_Бизнес и карьера*/
    $tag-creation-color: #F7E7F2;
    /*Tag_Творчество и искусство*/
    $tag-languages-color: #EBE5C5;
    /*Tag_Иностранные языки*/
    $tag-education-color: #E7F2F6;
    /*Tag_Образование и развитие*/
    $tag-house-color: #F7EBE5;
    /*Tag_Дом и уют*/
    $tag-health-color: #E9F7E7;
    /*Tag_Здоровье и лайфстайл*/
    $tag-plus-color: #E8ECF7;
    /*Tag_+*/
    $button-color-primary-color: $accent-color;

