/*color*/

$font-color-primary: #253017;
/*Text - цвет основного текста*/
$font-color-secondary: #69735D;
/* Caption - цвет подзаголовков*/
$toggle-color: #ABD27A;
/*Toggle - цвет переключателя*/
$font-color-disabled: #FFFFFF;
/*Disabled Text */
$disabled-color: #E4E8DF;
/*Disabled*/
$card-color: #FFFFFF;
/*Card, input - цвет фона карточек и кнопок*/
$input-color: $card-color;
/*Card, input - цвет фона карточек и кнопок*/

$button-color-pressed: #508826;
/*Button pressed*/
$accent-color: #ABD27A;
/*Accent color - задан акцент*/
$button-hover-color: $accent-color;
/*Button hover*/
$bg-color: #F9FAF7;
/*Background colorа*/
$font-color-alarm: #E0796E;
/*alarm*/
$font-color-error: #BF3920;
/*Error*/
$text-link-color: $button-color-pressed;
/*Text link, Button pressed*/

$tag-business-color: #EEE7F7;
/*Tag_Бизнес и карьера*/
$tag-creation-color: #F7E7F2;
/*Tag_Творчество и искусство*/
$tag-languages-color: #EBE5C5;
/*Tag_Иностранные языки*/
$tag-education-color: #E7F2F6;
/*Tag_Образование и развитие*/
$tag-house-color: #F7EBE5;
/*Tag_Дом и уют*/
$tag-health-color: #E9F7E7;
/*Tag_Здоровье и лайфстайл*/
$tag-plus-color: #E8ECF7;
/*Tag_+*/
$button-color-primary-color: $accent-color;