.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  border-radius: 12px;
}

.modal_dialog {
  padding: 62px 60px 72px;
  background-color: $card-color;
}

.modal_fullscreen {
  padding: 40px 36px 0;
  background-color: $bg-color;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  max-height: 1080px;
}

.overlay {
  position: absolute;
  //position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($overlay-color, 0.6);
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.header {
  display: grid;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
}

.description {
  font-family: $font-family-main;
  font-size: $font-size-caption;
  line-height: $font-line-height-caption;
  font-weight: $font-weight-main;
  letter-spacing: $font-letter-spacing-secondary;
  text-align: center;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
