.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select {
  height: 78px;
  max-width: 100%;
  font-family: $font-family-main;
  font-size: $font-size-body;
  font-weight: $font-weight-main;
  line-height: $font-line-height-body;
  letter-spacing: $font-letter-spacing-secondary;
  > *:first-child {
    margin-bottom: 4px;
  }
}

.wrapper {
  max-height: 124px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  gap: 20px;
}

.buttonPrev,
.buttonNext {
  width: 100%;
}
