.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggleBtn {
  position: absolute;
  right: 12px;
  top: 51%;
}

.toggleBtn span {
  line-height: 0;
  font-size: 0;
}

.icon {
  width: 18px;
  height: 18px;
}
