.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 32px;
  block-size: 104px;
  inline-size: 100%;
  max-inline-size: 1440px;
  padding: 36px 36px 20px;
  box-sizing: border-box;
  background-color: $bg-color;
  font-family: $font-family-main;
  font-weight: $font-weight-main;
  font-size: $font-size-body;
  line-height: $font-line-height-body;
  letter-spacing: $font-letter-spacing-secondary;
  color: $font-color-primary;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  //block-size: 40px;
}

.nav {
  inline-size: 227px;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  color: $font-color-disabled;
  text-decoration: none;
}

.searchForm {
  // position: relative;
  display: flex;
  align-items: center;
  inline-size: 527px;
  box-sizing: border-box;
}

.searchInput {
  inline-size: 100%;
  block-size: 48px;

  &::placeholder {
    color: $font-color-disabled;
  }

  &:focus {
    outline: none;
    border-color: $accent-color;
    box-shadow: 0 0 0 4px rgba($accent-color, 0.2);
  }
}
