.container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: stretch;
  color: $font-color-primary;
}

.formContent,
.side {
  padding: 40px 60px;
  max-width: 556px;
  flex: 1;
  overflow: hidden;
  box-sizing: border-box;
}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideImage {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.textContainer {
  text-align: center;
}

.title,
.description {
  margin: 0;
}

.title {
  font-family: $font-family-title;
  font-weight: $font-weight-title;
  font-size: $font-size-h2;
  margin-bottom: 12px;
}

.description {
  font-family: $font-family-main;
  font-weight: $font-weight-main;
  font-size: $font-size-body;
}
