.profile_layout {
  display: flex;
  flex-direction: column;
}

.profile_content {
  display: flex;
}
.page_block {
  display: flex;
  flex-direction: row;
  max-width: auto;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 24px;
}
