.badge {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  font-family: $font-family-main;
  font-weight: $font-weight-main;
  font-size: $font-size-caption;
  line-height: $font-line-height-caption;
  letter-spacing: $font-letter-spacing-secondary;
  color: $font-color-primary;
}
